doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")

    title= title

    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")

    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")

    script(src="bundle.js")

    style(type="text/css").
      html, body {
        max-width: 100%;
        overflow-x: hidden;
      }

      #question {
        font-size: 20px;
        text-align: center;
      }

      #answer {
        width: 150px;
        height: 150px;
        background-color: #007bff;
        color: white;
        border-radius: 10px;
        padding: 10px;
        font-size: 16px;
        line-height: 18px;
        position: relative;
        text-align: center;
        z-index: 10;
        user-select: none;
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
      }

      .dropzone {
        height: 170px;
        border-radius: 10px;
        width: 48%;
        top: 0;
        z-index: 1;
        position: absolute;
      }
      .dropzone#left {
        background-color: #ABB2B9;
        left: 0;
      }
      .dropzone#right {
        background-color: #E5E7E9;
        right: 0;
      }

      .demo {
        position: relative;
        height: 300px;
        width: 100%;
      }
      .demo * {
        touch-action: none;
      }

      .indicator {
        font-size: 44px;
        text-align: center;
        display: block;
        margin: 25px 0;
      }
      .header {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
      }

  body
    .container-fluid
      .row
        .col
          div(class="header") Quality
          i.indicator.fas.fa-university
          .progress
            div(class="progress-bar" id="indicator-techdebt" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
        .col
          div(class="header") Happiness
          i.indicator.fas.fa-smile
          .progress
            div(class="progress-bar" id="indicator-devhappiness" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
        .col
          div(class="header") Features
          i.indicator.fas.fa-code-branch
          .progress
            div(class="progress-bar" id="indicator-features" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
        .col
          div(class="header") Money
          i.indicator.fas.fa-dollar-sign
          .progress
            div(class="progress-bar" id="indicator-money" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100")
      .row(style="margin:20px 0;")
        .col
          #question
      .row
        .col
          .demo
            div(id="answer" class="draggable drag-drop")

            .dropzone#left
            .dropzone#right
      .row 
        .col
          div(class="days-survived" id="indicator-days") You have kept the business running for 1 days.
            

  #introductionModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title The DevOps game
        .modal-body 
          .p Welcome. We've been looking forward to you starting. 
          .p You are the new Agile Coach at ACME inc.
          .p We are in dire need of your advice!
        .modal-footer
          button.btn.btn-primary(type='button' data-dismiss='modal') Okay ...

  #endingModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title The DevOps game
        .modal-body#endingModalBody
        .modal-footer
          button.btn.btn-primary(type='button' data-dismiss='modal' onClick="window.location.reload()") Play again
